*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arialmt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "Arialmt";
  src: local("Arialmt"),
   /* url("./fonts/Goldman/Goldman-Bold.ttf") format("truetype"); */
   url("./assets/fonts/arialmt.ttf") format("truetype");
  font-weight: bold;
  } 